Checks: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type
WarningsAsErrors: >
  bugprone-*,
  clang-analyzer-*,
  performance-*
HeaderFilterRegex: ".*"
FormatStyle: file
